<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include('../layout') %>
    <title>Blog</title>
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
    
    <div class="container">   
      <%- messages() %>
      <h2 align="center">เขียนบทความ My blogs</h2>
      
      <% if(locals.errors) { %>
        <ul class="alert alert-danger">
          <% Object.values(errors).forEach(function(error){ %>
              <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
      <form class="" action="/myblog/<%= mode %>" method="post"> 
        <div class="form-group"> 
        <label for="">ชื่อเรื่อง</label>
        <input type="text" name="name" value="<%= data.name %>" class="form-control"> 
      </div>

      <div class="form-group">
        <label for="">รายละเอียด</label>
        <textarea name="description" rows="g" cols="80" class="form-control">
          <%= data.description %>
        </textarea>
      </div>

      <div class="form-group">
      <label for="">ผู้แต่ง</label>
      <input type= "text" name="author" value="<%= data.author %>" class="form-control">
      </div>
      <input type= "hidden" name="id" value="<%= data._id %>" >
      <input type="submit" name="" value="บันทึก" onclick="return confirm('ต้องการบันทึกหรือไม่?')"  class="btn btn-primary">
      </form>
      </div>
      
      <script>
        $(function(){
          $('#messages').addClass('alert alert-danger');
        })        ;
        CKEDITOR.replace( 'description' );
      </script>
</body>
</html>