<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <%- include('../layout') %>
    <div class="container">
      <h2>Welcome To my blog</h2>
      <h3><%= header%></h3>
      <a href="/myblog/add" class="btn btn-primary"> เพิ่มบทความ </a>

      <ul>
        <% Object.values(dataMyblogs).forEach(function(blog) { %>
        <li>
          <p><b>ชื่อ :</b> <%= blog.name %></p>
          <p><b>รายละเอียด :</b> <%= blog.description %></p>
          <!--convert string Html to=> html Element-->
          <p><b>ผู้แต่ง :</b><%= blog.author %></p>
          <a  href="/myblog/edit/<%= blog._id %>" > แก้ไข </a>
          <a onclick="return confirm('ต้องการลบหรือไม่?')" href="/myblog/delete/<%= blog._id %>" > ลบ </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
