<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h2>Welcome To my blog</h2>
      <a href="/blog/add">เพิ่มบทความ</a>
    </div>
  </body>
</html>
