<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body>
    <%- include layout %>
    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Wataswan Nanthasuwan</h2>
    <a href="/blog">Create blog</a>
  </div>
  </body>
</html>
