<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h2>Welcome To Products Stock</h2>
      <a href="/">Back</a>
    </div>
  </body>
</html>
